<h1>Siparişler</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Sıra</th>
			<th>Tarih</th>
			<th>Ürün Sayısı</th>
			<th>Toplam Tutar</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let order of orders; let i = index;">
			<td>{{ i + 1 }}</td>
			<td>{{order.createdAt | date : "medium" | lowercase}}</td>
			<td>{{order.count}}</td>
			<td class="text-end">{{order.cost.toFixed(2)}} TL</td>
			<td class="text-end">
				<a href="javascript:void(0)" (click)="deleteOrder(order.id)" class="text-danger">Sil</a>
			</td>
		</tr>
	</tbody>
</table>