<div class="row">
	<div class="col-sm-7">
		<h1>Ürünler</h1>
		<app-product-card *ngFor="let item of products" [product]="item"></app-product-card>
	</div>
	<div class="col-sm-5">
		<h1>Sepet</h1>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Ürün</th>
					<th>Miktar</th>
					<th class="text-end">Fiyat</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of basket">
					<td>{{item.name}}</td>
					<td>{{item.quantity}} {{item.unit}}</td>
					<td class="text-end">{{(item.price * item.quantity).toFixed(2)}}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr clas="total">
					<td colspan="2">Toplam</td>
					<td class="text-end">{{getTotal().toFixed(2)}} TL</td>
				</tr>
			</tfoot>
		</table>

		<button class="btn btn-success" (click)="createOrder()">Sipariş Oluştur</button>
	</div>
</div>